<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="OdbcConnectionxx" value="Data Source=ANDRADB04,12953;Database=herroom;User ID=Vanessa_;Password=E1A00E52-4FCF-4143-8907-EB5222F80A83;Connect Timeout=120"/>
    <add key="OdbcConnectionxxx" value="Driver={SQL Server};Server=ANDRADB04,12953;UID=Vanessa_;PWD=E1A00E52-4FCF-4143-8907-EB5222F80A83;Database=Communications"/>
    <add key="OdbcConnectionZZ" value="Driver={SQL Server};Server=ANDRADB04,12953;UID=Christy_; PWD=d03de56c-d816-4e2d-b25d-92887d4290dd;Database=Communications"/>
    <add key="OdbcConnectionDEV" value="Driver={SQL Server};Server=ANDRADB04,12953;UID=Ginger_; PWD=9700aa60-6ff6-44a8-b075-d675b441c3c8;Database=Communications"/>
    <add key="OdbcConnectionUSE" value="Driver={SQL Server};Server=ANDRADB01;UID=Ginger_; PWD=9700aa60-6ff6-44a8-b075-d675b441c3c8;Database=Communications"/>

    <!-- !!! -->
    <add key = "SqlConnectionPROD" value = "Data Source=ANDRADB01;Initial Catalog=herroom;User ID=Christy_;Password=d03de56c-d816-4e2d-b25d-92887d4290dd;Workstation ID=API;Connect Timeout=120" /> 
    <add key = "SqlConnectionDEV" value = "Data Source=ANDRADB04\QA_DEV,12953;Database=hercust;User ID=TG9FjETn53KN4dZdKQB0mA==;Password=RboBCknkHcNPrj0U+NL67305C/t0M7NAQrBKGbztKZknA7CfVvlrAxW8l4vo/ftC;Workstation ID=DEV" />
    <add key = "SqlConnectionREPORT" value = "Data Source=AndraDB02\Reports,12951;Initial Catalog=hercust;User ID=ShvGI9eSf4DfiB2eC1txLw==;Password=fiyGvXe1TVEYH/KizTodClTQgM9s7Ox7SesmPJegCYmnKPlMRJvIClvgks7dSxJw;Workstation ID=Warehouse_Task;Connect Timeout=120" />
     
    <add key = "connCommunicationsZZ" value="Data Source=ANDRADB04,12953;Database=communications;User ID=Christy_;Password=d03de56c-d816-4e2d-b25d-92887d4290dd;Connect Timeout=120" />
    <add key = "connCommunicationsDEV" value="Data Source=ANDRADB04,12953;Database=communications;User ID=Ginger_;Password=9700aa60-6ff6-44a8-b075-d675b441c3c8;Connect Timeout=120" />
    <add key = "connCommunicationsUSE" value="Data Source=ANDRADB01;Database=communications;User ID=Ginger_;Password=9700aa60-6ff6-44a8-b075-d675b441c3c8;Connect Timeout=120" />

    <!--  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- AZUERE     
    <add key="OdbcConnection" value="Driver={SQL Server};Server=andra-reports.public.31f7217d2f62.database.windows.net,3342;UID=CloudSA262cd0cb; PWD=eMhGbc6rWsuOpACK;Database=Communications" />
    <add key="connCommunications" value="Data Source=andra-reports.public.31f7217d2f62.database.windows.net,3342;Database=communications;User ID=CloudSA262cd0cb;Password=eMhGbc6rWsuOpACK;Connect Timeout=120" />
    <add key="SqlConnection" value="Data Source=andra-reports.public.31f7217d2f62.database.windows.net,3342;Database=communications;User ID=CloudSA262cd0cb;Password=eMhGbc6rWsuOpACK;Connect Timeout=120" />
    -->
    
    <!-- PROD !!!   -->
    <add key="SqlConnection" value="Data Source=ANDRADB01;Initial Catalog=herroom;User ID=Christy_;Password=d03de56c-d816-4e2d-b25d-92887d4290dd;Workstation ID=API;Connect Timeout=120" />
    <add key="OdbcConnection" value="Driver={SQL Server};Server=ANDRADB01;UID=Ginger_; PWD=9700aa60-6ff6-44a8-b075-d675b441c3c8;Database=Communications"/>
 
   
    <!-- DEV    
    <add key = "SqlConnection" value = "Data Source=ANDRADB04,12953;Initial Catalog=herroom;User ID=Christy_;Password=d03de56c-d816-4e2d-b25d-92887d4290dd;Workstation ID=API;Connect Timeout=120" />
    <add key="OdbcConnection" value="Driver={SQL Server};Server=ANDRADB04,12953;UID=Ginger_; PWD=9700aa60-6ff6-44a8-b075-d675b441c3c8;Database=Communications"/>
   -->
   
    <!--  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


    <add key = "connCommunications" value="Data Source=ANDRADB01;Database=communications;User ID=Ginger_;Password=9700aa60-6ff6-44a8-b075-d675b441c3c8;Connect Timeout=120" />
    <add key = "RMAPostCustomerReturns" value ="https://qa.herroom.com/myroom/easyreturn.aspx/PostCustomerReturns" />
    <add key = "RMAGenerateAuthHash" value ="https://qa.herroom.com/services.aspx/GenerateAuthHash" />

    <add key = "RMAShippingLabelAPITEST" value ="https://mstaging.herroom.com/rest/V1/mst_rma/update"/>
    <add key = "RMAShippingLabelAPI" value ="https://mcprod.herroom.com/rest/V1/mst_rma/update"/>

    <add key = "GetRMAPDFLinkforMagento" value ="https://qa.herroom.com/Services.aspx/GetRMAPDFLinkforMagento"/>

    <add key = "NOTIFYINVOICEERROR" value ="thomas@andragroup.com, debi@herroom.com" />
    
    <add key="KUSTOMERCSRMAILBOX" value="csr-site@herroom.com"/>  
    <add key="KUSTOMERCSRMAILBOXMAIN" value="customerservice@herroom.com"/>   

    <!-- OLD, REPLACED 20230511 BUT NOT IN USE AT THIS TIME -->
    <add key="AID_CONFIGURABLEPRODUCT" value="10"/>
    <add key="AID_SIMPLEPRODUCT" value="11"/>
    <add key="AID_PRODUCTHISROOM" value="13"/>
    <add key="AID_PRODUCTHERROOM" value="19"/>
    <add key="AID_PRODUCTBRASWIM" value="22"/>
    <add key="AID_PRODUCTGC" value="25"/>

    <add key = "BatchPrefix" value ="A"/>
    <add key = "ReturnReasonCodeOther" value="73530" />
    <add key = "ReturnReasonCodeOtherdev" value="72614" />

    <add key="SmtpServerxx" value = "herroom-com.mail.protection.outlook.com"/>
    <add key="SmtpServer" value="10.10.1.118" />

    <!-- POSSIBLE VALUES: 1) NONE = Do not backorder, just hold orders; 2) SPLIT = Allocate what is in stock, BO the rest 3) CANCEL = cancel orders with BO items 4) HOLD = Allocate what is in stock, don't split, put order on Hold  -->
    <add key ="BOStragegy" value="SPLIT" />

    <add key ="DefaultEmail" value="thomas@andragroup.com"/>
    <add key ="CSREmail" value="amber@andragroup.com,thomas@andragroup.com"/>

    <add key ="BearerTokenXX" value="eyJraWQiOiIxIiwiYWxnIjoiSFMyNTYifQ.eyJ1aWQiOjIsInV0eXBpZCI6MiwiaWF0IjoxNjkwOTAyNTIxLCJleHAiOjE2OTA5MDYxMjF9.Oj8zwQoIEkSrV9ZNtZCdRS3z86C3Apk6ao8LW6XWQLs" />
    <add key ="BearerToken" value="9f2d435l8vx6rnt1hmtocupov2k178o4" />
    <add key ="BearerTokenMSTAGING" value="9f2d435l8vx6rnt1hmtocupov2k178o4" />
    <add key ="BearerTokenMSTAGINGXX" value="i22s85u53b0f33bgxiznrf5o43fz7ac6" />

    <add key ="BearerTokenKustomerxx" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY1Nzc1YTExMGExZGIwNjRlMzdjNTk0ZiIsInVzZXIiOiI2NTc3NWExMTc3ZDM2YjU4MTZhMWI5MDIiLCJvcmciOiI1ZWIwM2Q0OTMxZGIwZTAwMTk5YTdkMzciLCJvcmdOYW1lIjoiYW5kcmFncm91cCIsInVzZXJUeXBlIjoibWFjaGluZSIsInBvZCI6InByb2QxIiwicm9sZXMiOlsib3JnLnBlcm1pc3Npb24uY3VzdG9tZXIuY3JlYXRlIiwib3JnLnBlcm1pc3Npb24uY3VzdG9tZXIucmVhZCIsIm9yZy5wZXJtaXNzaW9uLmN1c3RvbWVyLnVwZGF0ZSIsIm9yZy51c2VyLmNvbnZlcnNhdGlvbi5yZWFkIiwib3JnLnVzZXIuY29udmVyc2F0aW9uLndyaXRlIiwib3JnLnVzZXIuY29udmVyc2F0aW9uX2ZvcndhcmQiLCJvcmcudXNlci5jdXN0b21lci5yZWFkIiwib3JnLnVzZXIuY3VzdG9tZXIud3JpdGUiLCJvcmcudXNlci5tZXNzYWdlLnJlYWQiLCJvcmcudXNlci5tZXNzYWdlLndyaXRlIiwib3JnLnVzZXIuc2VhcmNoLnJlYWQiLCJvcmcudXNlci5zZWFyY2gud3JpdGUiXSwiZXhwIjoxNzAyOTI1NDU2LCJhdWQiOiJ1cm46Y29uc3VtZXIiLCJpc3MiOiJ1cm46YXBpIiwic3ViIjoiNjU3NzVhMTE3N2QzNmI1ODE2YTFiOTAyIn0.ETMZlVfAtCXlqT33oh1Y0ReDekXYjYbiB0DEt4xql_c" />
    <add key ="BearerTokenKustomerz" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY1Nzc1M2ZhNmExODkwMzkwMGVmYTlkYiIsInVzZXIiOiI2NTc3NTNmYWZmYmZiNTNmZDU3YmI5MzUiLCJvcmciOiI1ZWIwM2Q0OTMxZGIwZTAwMTk5YTdkMzciLCJvcmdOYW1lIjoiYW5kcmFncm91cCIsInVzZXJUeXBlIjoibWFjaGluZSIsInBvZCI6InByb2QxIiwicm9sZXMiOlsib3JnLnBlcm1pc3Npb24uYXR0YWNobWVudCIsIm9yZy5wZXJtaXNzaW9uLmNvbnZlcnNhdGlvbiIsIm9yZy5wZXJtaXNzaW9uLmN1c3RvbWVyIiwib3JnLnBlcm1pc3Npb24uZGVsZXRlIiwib3JnLnBlcm1pc3Npb24uZHJhZnQiLCJvcmcucGVybWlzc2lvbi5ldmVudCIsIm9yZy5wZXJtaXNzaW9uLm1lc3NhZ2UiLCJvcmcucGVybWlzc2lvbi5ub3RlIiwib3JnLnBlcm1pc3Npb24ubm90aWZpY2F0aW9uIiwib3JnLnBlcm1pc3Npb24ucmVhZCIsIm9yZy5wZXJtaXNzaW9uLnNhdGlzZmFjdGlvbiIsIm9yZy5wZXJtaXNzaW9uLnNjaGVkdWxlIiwib3JnLnBlcm1pc3Npb24uc2VhcmNoIl0sImV4cCI6MTcwMjkyMzg5NywiYXVkIjoidXJuOmNvbnN1bWVyIiwiaXNzIjoidXJuOmFwaSIsInN1YiI6IjY1Nzc1M2ZhZmZiZmI1M2ZkNTdiYjkzNSJ9.CwPVcV4qlXUtakUKfFxm_Aggsv96KuiYN0ZtEbpkhNQ" />
    <add key ="BearerTokenKustomer" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY1ODFhYjdlMDlkYjZkNmU5MGEwZDBhZSIsInVzZXIiOiI2NTgxYWI3ZDU3MzA2MjE0MjNkOGJkYTMiLCJvcmciOiI1ZWIwM2Q0OTMxZGIwZTAwMTk5YTdkMzciLCJvcmdOYW1lIjoiYW5kcmFncm91cCIsInVzZXJUeXBlIjoibWFjaGluZSIsInBvZCI6InByb2QxIiwicm9sZXMiOlsib3JnLnVzZXIuY29tcGFueS5yZWFkIiwib3JnLnVzZXIuY29udGVudC5yZWFkIiwib3JnLnVzZXIuY29udmVyc2F0aW9uLnJlYWQiLCJvcmcudXNlci5jb252ZXJzYXRpb24ud3JpdGUiLCJvcmcudXNlci5jdXN0b21lci5yZWFkIiwib3JnLnVzZXIuY3VzdG9tZXIud3JpdGUiLCJvcmcudXNlci5tZXNzYWdlLnJlYWQiLCJvcmcudXNlci5tZXNzYWdlLndyaXRlIiwib3JnLnVzZXIubm90ZS5yZWFkIiwib3JnLnVzZXIubm90ZS53cml0ZSJdLCJhdWQiOiJ1cm46Y29uc3VtZXIiLCJpc3MiOiJ1cm46YXBpIiwic3ViIjoiNjU4MWFiN2Q1NzMwNjIxNDIzZDhiZGEzIn0.-oxJVfxXhH3bIeTsZqcF2StiN6lntgdCpfemNAqTY1I" /> 


    <add key="GIFTWRAPSKU_F" value ="HRM000028902"/>
    <add key="GIFTWRAPSKU_M" value ="HRM000028903"/>

    <add key="BATCHSERVER" value="A"/>

    <add key="AID_SIZE" value="194"/>
    <add key="AID_COLORFAMILY" value="181"/>
    <add key="AID_BRAND" value="210"/>
    <add key="AID_CUP" value="197"/>
    <add key="AID_BAND" value="196"/>
    <add key="AID_UCS" value="195"/>
    <add key="AID_FABRICSOFTNESS" value="183"/>
    <add key="AID_FABRICWEIGHT" value="182"/>
    <add key="AID_COLOR" value="93"/>
    <add key="AID_COLORCODE" value="206"/>
    <add key="AID_CATEGORY" value="191"/>
    <add key="AID_COLLECTION" value="208"/>
    <add key="AID_TASTES" value="187"/>
    <add key="AID_BRIDAL" value="202"/>
    <add key="AID_FEATURES" value="247"/>

    <add key="AID_HERCOLOR" value="406"/>
    <add key="AID_HERSIZE" value="412"/>

    <add key="STOREID_HERROOM" value="0"/>
    <add key="STOREID_HISROOM" value="3"/>

    <add key="WEBSITEID_HERROOM" value="0"/>
    <add key="WEBSITEID_HISROOM" value="1"/>


    <add key="AG_STOREFRONT_HER" value="73347"/>
    <add key="AG_STOREFRONT_HIS" value="73344"/>

    <add key="AG_STOREFRONT_HER_DEV" value="72595"/>
    <add key="AG_STOREFRONT_HIS_DEV" value="72592"/>


    <!--   <add key="AGLABEL_NEWCOLOR" value="13"/> -->
    <add key="AGLABEL_NEW" value="13"/>
    <add key="AGLABEL_SWIM" value="14"/>
    <add key="AGLABEL_BESTSELLER" value="15"/>
    <add key="AGLABEL_GIFT" value="46656"/>
    <add key="AGLABEL_FINALSALE" value="63444"/>
    <!-- MCSTAGING: 60385 -->
    <add key="AGLABEL_BIGANDTALL" value="74511"/>
    <!-- DELETED IN PROD PER TE -->

    <add key="CCGATEWAY" value="23"/>
    <add key="PAYPALGATEWAY" value="23"/>
    <add key="BFGATEWAY" value="10"/>

    <add key="AGLIFESTYLE_ATHLETIC" value="46659"/>
    <add key="AGLIFESTYLE_TOPQUALITY" value="46662"/>
    <add key="AGLIFESTYLE_LUXURY" value="46665"/>
    <add key="AGLIFESTYLE_SEXY" value="46668"/>
    <add key="AGLIFESTYLE_CONTEMPORARY" value="46671"/>
    <add key="AGLIFESTYLE_VALUEPRICED" value="46674"/>
    <add key="AGLIFESTYLE_PETITE" value="46677"/>

    <add key="SHIPPING-STANDARD" value ="22"/>
    <add key="SHIPPING-STANDARD-NAME" value ="DHL Ground"/>
    <add key="SHIPPING-USPSPRIORITY" value ="55"/>
    <add key="SHIPPING-FEDEXDAY" value ="72"/>
    <add key="SHIPPING-FEDEXOVERNIGHT" value ="73"/>
    <add key="SHIPPING-USPSEXPRESS" value ="57"/>
    <add key="SHIPPING-FEDEX2-DAY" value ="72"/>
    <add key="SHIPPING-BORDERFREE" value ="34"/>

    <!-- Klaviyo feeds  -->
    <add key="KLAVIYOCLIENTPROFILEHER" value="https://a.klaviyo.com/client/profiles/?company_id=HXtNd6"/>
    <add key="KLAVIYOCLIENTPROFILEHIS" value="https://a.klaviyo.com/client/profiles/?company_id=MvWnUa"/>
    <add key="KLAVIYOCLIENTEVENTSHER" value="https://a.klaviyo.com/client/events/?company_id=HXtNd6"/>
    <add key="KLAVIYOCLIENTEVENTSHIS" value="https://a.klaviyo.com/client/events/?company_id=MvWnUa"/>

    <!-- SPS  -->
    <add key="SPS850FILEOUTPUT" value="C:\Users\thomas\Documents\Reference\SPS\Outgoing\" />
    <add key="SPS856FILEINCOMINGzz" value="C:\Users\thomas\Documents\Reference\SPS\Incoming\" />
    <add key="SPS856FILEARCHIVEzz" value="C:\Users\thomas\Documents\Reference\SPS\Incoming\Archive\" />

    <add key="SPS856FILEINCOMINGQQ" value="\\10.10.1.118\e$\Automate\Working\PO-SPS\Incoming\" />
    <add key="SPS856FILEARCHIVEQQ" value="\\10.10.1.118\e$\Automate\Working\PO-SPS\Incoming\Archive\" />
    

    <add key="SPS850FILEOUTPUT" value="C:\Automate\Working\PO-SPS\Outbound\" />
    <add key="SPS850DROPSHIPFILEOUTPUT" value="C:\Automate\Working\PO-SPS\Dropship\" />
    <add key="SPS856FILEINCOMING" value="C:\Automate\Working\PO-SPS\Inbound\" />
    <add key="SPS856FILEARCHIVE" value="C:\Users\thomas\Documents\Reference\SPS\Incoming\" />
    <add key="SPS856FILEINCOMINGARCHIVExx" value="E:\Automate\Working\PO-SPS\Inbound\Archive\" />
    <add key="SPS856FILEINCOMINGERRORxx" value="E:\Automate\Working\PO-SPS\Inbound\Error\" />
    <add key="SPS856FILEINCOMINGFTPxx" value="E:\Automate\Working\PO-SPS\Inbound\FTP\" />

    <add key="SPS850UPCLABELSTO" value="\\Ag-fs-02\k\buyers\po upc labels\" />
    <add key="SPS850UPCLABELSFROM" value="\\tools\e$\www\barcodeGen3\PDF_Files\" />

    <add key="SPS856FILEINCOMINGARCHIVE" value="C:\Automate\Working\PO-SPS\Inbound\Archive\" />
    <add key="SPS856FILEINCOMINGERROR" value="C:\Automate\Working\PO-SPS\Inbound\Error\" />
    <add key="SPS856FILEINCOMINGFTP" value="C:\Automate\Working\PO-SPS\Inbound\FTP\" />

    <add key="SPS856FILEINCOMINGDAILYFILESxx" value="\\10.10.1.118\e$\Automate\Working\PO-SPS\Inbound\DailyFiles\" />

     
    <add key="PEACHTREEPATH" value="C:\Users\thomas\Documents\Reference\SPS\Outgoing\peachtree_export.csv"/>
    <add key="PEACHTREEPATHLIVE" value="\\10.10.1.113\e$\www\HerTools\dmc\peachtree_export.csv"/>

    
  </appSettings>
</configuration>